In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [ ]:
# Load all .csv files from Resources folder
file1 = "Resources/national_2019.csv"
df_2019 = pd.read_csv(file1)

file2 = "Resources/national_2018.csv"
df_2018 = pd.read_csv(file2)

file3 = "Resources/national_2017.csv"
df_2017 = pd.read_csv(file3)

file4 = "Resources/national_2016.csv"
df_2016 = pd.read_csv(file4)

file5 = "Resources/national_2015.csv"
df_2015 = pd.read_csv(file5)

file6 = "Resources/national_2014.csv"
df_2014 = pd.read_csv(file6)

In [ ]:
# DATASOURCE 1: Combine all national records from 2014-2019 from https://www.bls.gov/
all_dfs = [df_2014, df_2015, df_2016, df_2017, df_2018, df_2019]

df_occupationwage = pd.concat(all_dfs, axis = 0)
df_occupationwage

In [ ]:
# DATASOURCE 2: Life expectancy data from https://www.cdc.gov/nchs/nvss/usaleep/usaleep.html
file_path = "Resources/life_expectancy.csv"

life_df = pd.read_csv(file_path)

In [ ]:
# DATASOURCE 3: Median Income data from https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income
file7 = "Resources/median_income.csv"
df_medianincome = pd.read_csv(file7)
df_medianincome

In [ ]:
# DATASOURCE 4: Minimum Wage data from https://www.dol.gov/agencies/whd/state/minimum-wage/history
file8 = "Resources/Minimum Wage Data.csv"
df_minimumwage = pd.read_csv(file8)

In [ ]:
# DATASOURCE 1
# Drop unwanted columns
df_occupationwage = df_occupationwage.drop(columns = ['employment', 'emp_prse', 'hourly_pct10', 'hourly_pct25',
                                            'hourly_median', 'hourly_pct75', 'hourly_pct90', 'annual_pct10', 
                                           'annual_pct25', 'annual_median', 'annual_pct75', 'annual_pct90'])

df_occupationwage

In [ ]:
# DATASOURCE 2
#Only grab relevant columns
life_df1 = life_df[['State','Life Expectancy']]

#drop rows with blank values
life_df1 = life_df1.dropna()

life_df1

In [ ]:
# DATASOURCE 2
#take average of Life Expectancy in 2010-2015 by State
life_df2 = round(life_df1.groupby('State').mean(),2)
life_df2 = life_df2.reset_index()

life_df2.head()

In [ ]:
#DATASOURCE 2
# Rename State column to location_name

life_df2 = life_df2.rename(columns = {'State':'location_name'})
life_df2 = life_df2.rename(columns = {'Life Expectancy':'life_expectancy'})

In [ ]:
# DATASOURCE 2
#import locations csv
file = "Resources/locations1.csv"

location_df = pd.read_csv(file)
location_df = location_df.dropna()
location_df = location_df.astype({'location_id': 'int64'})

In [ ]:
#location_df = location_df[location_df.location_id != 0]
#location_df

In [ ]:
# DATASOURCE 2
#left join by location_df State and drop Columns that aren't needed

merged_left = pd.merge(left=location_df, right=life_df2, how='left', left_on='location_name', right_on='location_name')
merged_left.head()

In [ ]:
# DATASOURCE 2
#drop State Column
life_expectancy = merged_left.drop(['location_name'], axis =1)
life_expectancy.head()

In [ ]:
df_minimumwage

In [ ]:
# DATASOURCE 
df_medianincome = df_medianincome[['id', 'Year', 'Location ID', 'Median Income']]
df_medianincome = df_medianincome.rename(columns = {'Year':'year', 'Location ID': 'location_id', 'Median Income': 'median_income'})
df_medianincome = df_medianincome.replace([np.inf, -np.inf], np.nan)
df_medianincome = df_medianincome.replace([np.inf, -np.inf], np.nan).dropna(subset=["id", "year", "location_id", "median_income"], how="all")
df_medianincome = df_medianincome.astype({'year': 'int64'})
df_medianincome = df_medianincome.astype({'location_id': 'int64'})
df_medianincome

In [ ]:
# print ("Occupation Wage")
# print (df_occupationwage.dtypes)
# print ("Life Expectancy")
# print (life_expectancy.dtypes)
# print ("Location Id")
# print (location_df.dtypes)
# print ("Minimum Wage")
# print (df_minimumwage.dtypes)
# print ("Median Income")
# print (df_medianincome.dtypes)

In [ ]:
# Create connection
connection_string = "postgres:postgres@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Load all 5 dataframes into their respective tables - only run once
location_df.to_sql(name='locations', con=engine, if_exists='append', index=False)
df_medianincome.to_sql(name='median_income', con=engine, if_exists='append', index=False)
df_occupationwage.to_sql(name='occupation_wage', con=engine, if_exists='append', index=False)
life_expectancy.to_sql(name='life_expectancy', con=engine, if_exists='append', index=False)
df_minimumwage.to_sql(name='minimum_wage', con=engine, if_exists='append', index=False)